<p>Title</p>
    
<%= label_tag :price, "Price" %>
<%= text_field_tag :price, "xxx", :id => "price_text" %>
<br>
<%= label_tag :location, "Location" %>
<%= text_field_tag :location %>
<br>
<%= label_tag :capacity, "Capaticy" %>
<%= text_field_tag :capacity %>
<br>
<%= label_tag :cap_unit, "Capaticy Unit" %>
<%= text_field_tag :cap_unit %>
<br>
<%= submit_tag "Create" %>
<br>