
<% content_for :title do %>
adf
<% end %>

<%= form_for @price_log, :url => users_price_logs_path do |f| %>
    <%= f.select :product_info_id, product_info_options, {:prompt => 'select Item'}, {:onchange => 'price_log_product_info_change()'} %>
    <br>
    <div id="price_log_info_content" style="display:none">
        <%= f.label :log_date, "Log_Date" %>
        <%= f.date_select :log_date, {selected: Date.today} %>
        <br>

        <%= f.label :price, "Price" %>
        <%= select_tag :price_select, "" %>
        <%= f.text_field :price %>
        <br>
        <%= f.label :location_id, "Location" %>
        <%= f.select :location_id, [] %>
        <br>
        <%= f.label :capacity_id, "Capacity" %>
        <%= f.select :capacity_id, [] %>
        <br>
        <%= f.submit "Create" %>
        <br>
    </div>
<% end %>




